<!DOCTYPE HTML>
<html>
<head>
	<title><%= title %></title
</head>
<body>
	<div data-role="page" id="grid">
	  <h1>Welcome to the Tile Driver!</h1>
	     <h2>Click Below to Drive your Tiles</h2>
	     <table>
		<% for(var y=0; y<y_dim; y++) {%>
		   <tr>
			<% for(var x=0; x<x_dim; x++) {%>
			<td>

				<a href='/press?x=<%= x %>&amp;y=<%= y %>&amp;val=<%= grid[y][x] %>'>
				<button style="background-color:<%= getColor(grid[y][x]) %>">o</button>
				</a>
			</td>
			<% } %>
		   </tr>
		<% } %>
	     </table>
	     <img src="<%= image %>">
	</div>
</body>
